# Docker container for {%if app.title_name is defined %}{{ app.title_name }}{% else %}{{ app.friendly_name }}{% endif %}

[![Release](https://img.shields.io/github/release/jlesage/docker-{{ app.name }}.svg?logo=github&style=for-the-badge)](https://github.com/jlesage/docker-{{ app.name }}/releases/latest)
[![Docker Image Size](https://img.shields.io/docker/image-size/jlesage/{{ app.name }}/latest?logo=docker&style=for-the-badge)](https://hub.docker.com/r/jlesage/{{ app.name }}/tags)
[![Docker Pulls](https://img.shields.io/docker/pulls/jlesage/{{ app.name }}?label=Pulls&logo=docker&style=for-the-badge)](https://hub.docker.com/r/jlesage/{{ app.name }})
[![Docker Stars](https://img.shields.io/docker/stars/jlesage/{{ app.name }}?label=Stars&logo=docker&style=for-the-badge)](https://hub.docker.com/r/jlesage/{{ app.name }})
[![Build Status](https://img.shields.io/github/actions/workflow/status/jlesage/docker-{{ app.name }}/build-image.yml?logo=github&branch=master&style=for-the-badge)](https://github.com/jlesage/docker-{{ app.name }}/actions/workflows/build-image.yml)
[![Source](https://img.shields.io/badge/Source-GitHub-blue?logo=github&style=for-the-badge)](https://github.com/jlesage/docker-{{ app.name }})
[![Donate](https://img.shields.io/badge/Donate-PayPal-green.svg?style=for-the-badge)](https://paypal.me/JocelynLeSage)

This is a Docker container for [{{ app.friendly_name }}]({{ app.project.url }}).

{% if app.gui_type.lower() == 'x11' %}
The GUI of the application is accessed through a modern web browser (no
installation or configuration needed on the client side) or via any VNC client.
{%- endif %}

{% if app.documentation.overview is defined %}

{{ app.documentation.overview }}
{% endif %}
{% if app.documentation.important is defined %}

{% for item in app.documentation.important.split('\n') %}
> {{ item }}
{% endfor %}
{% endif %}

---

[![{{ app.friendly_name }} logo](https://images.weserv.nl/?url=raw.githubusercontent.com/jlesage/docker-templates/master/jlesage/images/{{ app.name }}-icon.png&w=110)]({{ app.project.url }})[![{{ app.friendly_name }}](https://images.placeholders.dev/?width={{ app.friendly_name|length * 32 }}&height=110&fontFamily=monospace&fontWeight=400&fontSize=52&text={{ app.friendly_name|replace(' ', '%20') }}&bgColor=rgba(0,0,0,0.0)&textColor=rgba(121,121,121,1))]({{ app.project.url }})

{{ app.project.description }}

---

## Quick Start

**NOTE**:
    The Docker command provided in this quick start is given as an example
    and parameters should be adjusted to your need.

Launch the {{ app.friendly_name }} docker container with the following command:
```shell
docker run -d \
    --name={{ app.name }} \
{% for item in container.ports|default([]) if item.include_in_quick_start|default(false) %}
    -p {{ item.number }}:{{ item.number }}{{ '/udp' if item.protocol == 'udp' else '/tcp' if container.ports|selectattr('number', 'equalto', item.number)|list|length > 1 else '' }} \
{% endfor %}
{% for item in container.volumes|default([]) if item.include_in_quick_start|default(false) and not item.container_path in container.unsupported_volume|default([])%}
    -v {{ item.host_path_example }}:{{ item.container_path }}:{{ item.permissions }} \
{% endfor %}
{% for item in container.devices|default([]) if item.include_in_quick_start|default(false) %}
    --device {{ item.path }} \
{% endfor %}
{% for item in container.extra_params|default([]) if item.include_in_quick_start|default(false) %}
    --{{ item.name }} {{ item.value }} \
{% endfor %}
    jlesage/{{ app.name }}
```

Where:

{% for item in container.volumes|default([]) if item.include_in_quick_start|default(false) and not item.container_path in container.unsupported_volume|default([])%}
  - `{{ item.host_path_example }}`: {{ item.description }}
{% endfor %}
{% for item in container.devices|default([]) if item.include_in_quick_start|default(false) %}
  - `{{ item.path }}`: {{ item.description }}
{% endfor %}

{% if app.gui_type.lower() == 'web' %}
Browse to `http://your-host-ip:{{ app.gui_port }}` to access the {{ app.friendly_name }} web interface.
{% elif app.gui_type.lower() == 'x11' %}
Browse to `http://your-host-ip:5800` to access the {{ app.friendly_name }} GUI.
{% endif %}
{% if '/storage' not in container.unsupported_volume|default([]) %}
Files from the host appear under the `/storage` folder in the container.
{% endif %}

## Documentation

Full documentation is available at https://github.com/jlesage/docker-{{ app.name }}.

## Support or Contact

Having troubles with the container or have questions?  Please
[create a new issue].

For other great Dockerized applications, see https://jlesage.github.io/docker-apps.

[create a new issue]: https://github.com/jlesage/docker-{{ app.name }}/issues
