<?xml version="1.0"?>
<Container version="2">
  <Name>{{ defs.app.friendly_name|replace(' ', '') }}</Name>
  <Repository>jlesage/{{ defs.app.name }}</Repository>
  <Registry>https://hub.docker.com/r/jlesage/{{ defs.app.name }}/</Registry>
  <Network>bridge</Network>
  <Privileged>false</Privileged>
  <Support>{{ defs.app.unraid.support_url }}</Support>
  <Overview>
    {{ defs.app.project.description|replace('[', '')|replace(']', '') }}
    [br][br]
{% for item in defs.app.container.overview %}
    {{ item }}
{% endfor %}
    Also, being based on Alpine Linux, size of this container
    is very small (less than {{ defs.app.container.rough_download_size }} in download size).
    [br][br][span][/span]
    For a complete documentation of this container, see
    [a href="https://github.com/jlesage/docker-{{ defs.app.name }}/blob/master/README.md"]
    https://github.com/jlesage/docker-{{ defs.app.name }}/blob/master/README.md[/a].
    {% if defs.app.unraid.extra_description %}
    [br][br]
    {{ defs.app.unraid.extra_description }}
    {% endif %}
  </Overview>
  <Category>{{ defs.app.unraid.category }}</Category>
  <WebUI>http://[IP]:[PORT:{% if defs.app.gui_port %}{{ defs.app.gui_port }}{% else %}5800{% endif %}]</WebUI>
  <TemplateURL>https://raw.githubusercontent.com/jlesage/docker-templates/master/jlesage/{{ defs.app.name }}.xml</TemplateURL>
  <Icon>https://raw.githubusercontent.com/jlesage/docker-templates/master/jlesage/images/{{ defs.app.name }}-icon.png</Icon>
{% if defs.container.extra_params and defs.container.extra_params|length > 0 %}
  <ExtraParams>{% for item in defs.container.extra_params.extra_param %}--{{ item.name }} {{ item.value }}{{ " " if not loop.last }}{% endfor %}</ExtraParams>
{% else %}
  <ExtraParams/>
{% endif %}
  <Description>
    {{ defs.app.project.description|replace('[', '')|replace(']', '') }}
    [br][br]
{% for item in defs.app.container.overview %}
    {{ item }}
{% endfor %}
    Also, being based on Alpine Linux, size of this container
    is very small (less than {{ defs.app.container.rough_download_size }} in download size).
    [br][br][span][/span]
    For a complete documentation of this container, see
    [a href="https://github.com/jlesage/docker-{{ defs.app.name }}/blob/master/README.md"]
    https://github.com/jlesage/docker-{{ defs.app.name }}/blob/master/README.md[/a].
    {% if defs.app.unraid.extra_description %}
    [br][br]
    {{ defs.app.unraid.extra_description }}
    {% endif %}
  </Description>
  <Beta>False</Beta>
  <Project>{{ defs.app.project.url }}</Project>
  <Date>{{ defs.app.history.release[0].date }}</Date>
  <Changes>[font size=4][center]{{ defs.app.friendly_name }} Change Log[/center][/font]
{% for item in defs.app.history.release %}
[font size=3][b]v{{ item.version }}[/b][/font] ({{ item.date }})
  {% for chg in item.change %}
    {% if chg is mapping %}
      {% set chgtext = chg['#text'] %}
    {% else %}
      {% set chgtext = chg %}
    {% endif %}
    {% for i in range(chg['@level']|default("1")|int * 2) %}&#x00a0;{% endfor %}- {{ chgtext }}
  {% endfor %}

{% endfor %}
  </Changes>
  <Networking>
    <Mode>bridge</Mode>
    <Publish>
{% for item in defs.container.ports.port %}
  {% if item.unraid_template %}
      <Port>
        <HostPort>{{ item.unraid_template.default|default(item.number, true) }}</HostPort>
        <ContainerPort>{{ item.number }}</ContainerPort>
        <Protocol>{{ item.protocol }}</Protocol>
      </Port>
  {% endif %}
{% endfor %}
    </Publish>
  </Networking>
  <Data>
{% for item in defs.container.volumes.volume %}
  {% if item.container_path in defs.app.container.unsupported_volume %}{% continue %}{% endif %}
  {% if item.unraid_template %}
    <Volume>
    {% if item.unraid_template.default %}
      <HostDir>{{ item.unraid_template.default }}</HostDir>
    {% else %}
      <HostDir/>
    {% endif %}
      <ContainerDir>{{ item.container_path }}</ContainerDir>
      <Mode>{{ item.permissions }}</Mode>
    </Volume>
  {% endif %}
{% endfor %}
  </Data>
  <Environment>
{% for item in defs.container.environment_variables.environment_variable %}
  {% if item.unraid_template %}
    <Variable>
    {% if item.unraid_template.default|default(item.default, true) %}
      <Value>{{ item.unraid_template.default|default(item.default, true) }}</Value>
    {% else %}
      <Value/>
    {% endif %}
      <Name>{{ item.name }}</Name>
      <Mode/>
    </Variable>
  {% endif %}
{% endfor %}
  </Environment>
  <!-- Volume Mappings -->
{% for item in defs.container.volumes.volume %}
  {% if item.container_path in defs.app.container.unsupported_volume %}{% continue %}{% endif %}
  {% if item.unraid_template is defined %}
  <Config Name="{{ item.unraid_template.title }}" Target="{{ item.container_path }}" Default="{{ item.unraid_template.default|default('', true) }}" Mode="{{ item.permissions }}" Description="{{ item.unraid_template.description|default(item.description, true)|replace('[', '&amp;lt;')|replace(']', '&amp;gt;') }}" Type="Path" Display="{{ item.unraid_template.display }}" Required="{{ item.unraid_template.required }}" Mask="{{ item.unraid_template.mask }}"/>
  {% endif %}
{% endfor %}
  <!-- Variable Mappings -->
{% for item in defs.container.environment_variables.environment_variable %}
  {% if item.unraid_template is defined %}
  <Config Name="{{ item.unraid_template.title }}" Target="{{ item.name }}" Default="{{ item.unraid_template.default|default(item.default, true)|default('', true) }}" Mode="" Description="{{ item.unraid_template.description|default(item.description, true)|replace('[', '&amp;lt;')|replace(']', '&amp;gt;') }}" Type="Variable" Display="{{ item.unraid_template.display }}" Required="{{ item.unraid_template.required }}" Mask="{{ item.unraid_template.mask }}"/>
  {% endif %}
{% endfor %}
  <!-- Port Mappings -->
{% for item in defs.container.ports.port %}
  {% if item.unraid_template is defined %}
  <Config Name="{{ item.unraid_template.title }}" Target="{{ item.number }}" Default="{{ item.unraid_template.default|default(item.number, true) }}" Mode="{{ item.protocol }}" Description="{{ item.unraid_template.description|default(item.description, true)|replace('[', '&amp;lt;')|replace(']', '&amp;gt;') }}" Type="Port" Display="{{ item.unraid_template.display }}" Required="{{ item.unraid_template.required }}" Mask="{{ item.unraid_template.mask }}"/>
  {% endif %}
{% endfor %}
</Container>
